<div class="row-fluid">
    <div class="span12">
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-info">Left</button>
            <button type="button" class="btn btn-info">Middle</button>
            <button type="button" class="btn btn-info">Right</button>
        </div>
    </div>
</div>
<!--/row-->
<br/>

<div class="row-fluid">
    <div class="span12">
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-info">Left</button>
            <button type="button" class="btn btn-info">Middle</button>
            <button type="button" class="btn btn-info">Right</button>
        </div>
    </div>
</div>
<!--/row-->
<br/>

<script type="text/javascript">
    $(function () {
        console.log('document ready');
    });
</script>