<div class="row-fluid cell">
    <div class="span1">
        <img src="/img/test.png"/>
    </div>
    <div class="span11">
        <div class="row-fluid">
            <div class="span12">
                <small><span class="label">shadowsocks</span><span class="muted"> • </span><a href="#">ghostasboy</a>
                </small>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span11">
                在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的
            </div>
            <div class="span1">
                <div class="badge">7</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <small><span class="muted">3 分钟前 • 最后回复 </span><a href="#">ibudao</a></small>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<div class="row-fluid cell">
    <div class="span1">
        <img src="/img/test.png"/>
    </div>
    <div class="span11">
        <div class="row-fluid">
            <div class="span12">
                <small><span class="label">shadowsocks</span><span class="muted"> • </span><a href="#">ghostasboy</a>
                </small>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span11">
                在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的在公司的
            </div>
            <div class="span1">
                <div class="badge">7</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <small><span class="muted">3 分钟前 • 最后回复 </span><a href="#">ibudao</a></small>
            </div>
        </div>
    </div>
</div>
<!--/row-->